.header {
    @include desktop-up {
        position: sticky;
        top: 0;
    }
    background: #FFFFFF;
    z-index: 2;
    @extend .animation;
    .header__top {
        @include phone-and-large-phone {
            padding: 10px 20px;
        }
        @include tablet-up {
            padding: 20px;
        }
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        > * {
            flex: 1;
        }
    }
    .menu__button {
        cursor: pointer;
        .fa-bars {
            @include desktop-up {
                font-size:25px;
            }
        }
    }
    .menu {
        svg:last-child {
            background: #fff;
            position: relative;
            top: 8px;
            left: -10px;
            border-radius: 50%;
            padding: 1px;
            width: 17px;
            height: 17px;
            transform: rotate(90deg);
            @include desktop-up {
                width:25px;
                height:25px;
            }
        }
    }
    .logo a {
        @include phone-and-tablet {
            width: 180px;
        }
        width: 320px;
        margin: 0 auto;
        display: block;
    }
    .social {
        justify-content: flex-end;
        @include phone-and-tablet {
            ul {
                display: none;
            }
        }
    }
    .header__bottom {
        border-top: 1px solid $border;
        @include desktop-up {
            border-bottom: 1px solid $border;
        }
        .container {
            padding: 0 20px;
        }
    }
    nav {
        width: 100%;
        @include phone-and-tablet {
            display: none;
        }
        ul {
            @include flexbox();
            align-items: center;
            justify-content: space-between;
            a {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                line-height: 60px;
                letter-spacing: .4px;
                display: block;
            }
            img {
                width: auto;
                height: 60px;
            }
            .active {
                position: relative;
                a {
                    color: $red;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    background: $red;
                    width: 100%;
                }
            }
        }
    }
}
.social {
    @include flexbox();
    li {
        float: left;
        margin-left: 12px;
        &:first-child {
            margin-left: 0;
        }
        a {
            width: 32px;
            height: 32px;
            @include border-radius(50%);
            border: 1px solid $border;
            @include flexbox();
            justify-content: center;
            align-items: center;
            &:hover {
                background: $red;
                border-color: $red;
                svg {
                    color: #ffffff;
                }
            }
        }
    }
}
// hide and show header top
@include desktop-up {
    body.hidden {
        .header {
            transform: translateY(-100px);
        }
    }
}

// sponsor top menu item
.header nav ul .sponsor a {
    @include flexbox();
    align-items: center;
}
.header nav ul .sponsor__logo {
    @include flexbox();
    align-items: center;
    span {
        margin: 0 5px;
    }
    img {
        height: 40px;
    }
}
// sponsor mobile menu item
.aside-menu__scroll .sponsor a {
    @include flexbox();
    align-items: center;
}
.aside-menu__scroll .sponsor__logo {
    @include flexbox();
    align-items: center;
    margin-left: auto;
    span {
        margin: 0 5px;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
    }
    img {
        height: 40px;
    }
}