body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #231f20;
}
a {
    color: #212121;
    @extend .animation;
}
a:hover {
    color: $red;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    span {
        font-weight: bold;
    }
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }