// colors
$red: #ea1c24;
$red-light: #ea1c240d;
$red-dark: #c00;

$gray: #595959;
$gray-light: #F2F5F7;

$orange: #F65936;

// border colors
$border: #ebebeb;
$border-dark: #231f20;

// overlay
$overlay: rgba(49,55,67,0.3);