.aside-menu {
    // if active
    transform: translateX(-100%);
    @extend .animation;
    &.active {
        transform: translateX(0);
    }
    position: fixed;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
    height: 100vh;
    background: #1a1a1a;
    z-index: 10;
    @include phone {
        width: calc(100% - 65px);
    }
    @include phone-up {
        width: 360px;
    }
    @include desktop-up {
        width: 400px;
    }
    ul {
        padding-bottom: 35px;
    }
    li {
        @include phone-and-tablet {
            padding: 10px 0;
        }
        @include desktop-up {
            padding-bottom: 10px;
        }
        a {
            color: #ffffff;
            font-weight: bold;
            @include phone-and-tablet {
                font-size: 22px;
            }
            @include desktop-up {
                font-size: 40px;
            }
            line-height: 1em;
            &:hover {
                color: $red;
            }
        }
        &.active a {
            color: $red;
        }
    }
    img {
        width: auto;
    }
}
.aside-menu__scroll {
    padding: 20px;
    @include desktop-up {
        padding: 0 40px;
    }
    overflow-y: scroll;
}
.aside-menu__top {
    @include flexbox();
    justify-content: space-between;
    @include phone-and-tablet {
        flex-direction: column;
    }
    @include desktop-up {
        align-items: center;
    }
}
.aside-menu__close {
    color: #fff;
    @include phone-and-tablet {
        padding: 10px 0 10px 20px;
        width: 100%;
    }
    @include desktop-up {
        padding: 35px 0 35px 20px;
    }
    font-size: 26px;
    cursor: pointer;
}
.aside-menu__search {
    @include phone-and-tablet {
        margin: 0 20px 10px;
        z-index: 1;
    }
    @include desktop-up {
        margin-right: 40px;
    }
    background: #1a1a1a;
    border-bottom: 1px solid #595959;
    input[type=search] {
        border: 0;
        background: transparent;
        @include phone-and-tablet {
            font-size: 22px;
            width: calc(100% - 47px);
        }
        @include desktop-up {
            font-size: 42px;
            width:90%;
            padding-left:10px;
        }
        font-weight: bold;
        color: #595959;
    }
    button {
        color: #ffffff;
        border: 0;
        background: transparent;
        font-size: 22px;
        cursor: pointer;
        @include phone-and-tablet {
            padding: 10px;
        }
        &:hover {
            color: $red;
        }
    }
}
// styling search
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
// overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $overlay;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}