figure {
    position: relative;
    .icon {
        position: absolute;
        @include border-radius(50%);
        background: #ffffff;
        color: $red;
        width: 38px;
        height: 38px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include flexbox();
        align-items: center;
        justify-content: center;
    }
}