.news {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
}
.news__item {
    @include phone-and-tablet {
        margin-bottom: 20px;
    }
    @include desktop-up {
        margin-bottom: 30px;
    }
    .news__category {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include phone {
            margin-top: -8px;
        }
        @include phone-up {
            margin: 5px 0 3px;
        }
        br {
            display: none;
        }
        a {
            color: $red;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            @include desktop-up {
                font-size:16px;
                font-weight: bold;
            }
        }
        .postDate {
            font-size: 12px;
            color:grey;
        }
    }
    p {
        margin-top: 5px;
        @include phone {
            display: none;
        }
    }
    @include phone {
        @include flexbox();
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid $border;
        width: 100%;
        > a {
            width: 120px;
        }
        > div {
            margin-top: 0;
            width: calc(100% - 120px - 20px);
        }
        h1, h2, h3 {
            font-size: 16px;
            font-weight: normal;
        }
    }
    @include phone-up {
        h1, h2, h3 {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.25em;
        }
    }
}
// homepage
.items__2, .items__3, .items__4, .items__5 {
    &:not(.news--featured) {
        .news__item {
            @include phone {
                &:first-child {
                    position: relative;
                    width: 100%;
                    a {
                        width: 100%;
                    }
                    > div {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        width: 100%;
                        padding: 20px;
                        background: $overlay;
                    }
                    > div > span > a {
                        width: 70%;
                    }
                    figure .icon {
                        left: 20px;
                        top: 20px;
                        transform: none;
                    }
                    h1, h2, h3 {
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 1.25em;
                        a {
                            color: #ffffff;
                        }
                    }
                    .news__category {
                        font-weight: bold;
                    }
                    .postDate {
                        color: white;
                    }
                }
            }
        }
    }
}
.news--over-img .news__item {
    @include tablet-up {
        position: relative;
        a {
            width: 100%;
        }
        .catWithPostDate{
            width: 70%;
        }
        > div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            background: $overlay;
        }
        figure .icon {
            left: 20px;
            top: 20px;
            transform: none;
        }
        h1, h2, h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.4em;
            a {
                color: #ffffff;
            }
        }
        .news__category {
            font-weight: bold;
            a {
                background: $red;
                color: #ffffff;
                padding: 0 5px;
            }
        }
    }
}
.items__2 .news__item {
    @include phone-up {
        width: calc(100% / 2 - 15px);
    }
}
.items__3 .news__item {
    @include phone-up {
        width: calc(100% / 3 - 20px);
    }
}
.items__4 .news__item {
    @include phone-up {
        width: calc(100% / 4 - 15px);
    }
}
.items__5 .news__item {
    @include phone-up {
        &:nth-child(-n+2) {
            width: calc(100% / 2 - 15px);
            h1, h2, h3 {
                font-size: 24px;
            }
        }
        &:nth-child(n+3) {
            width: calc(100% / 3 - 20px);
        }
    }
}
// homepage aside right
.box__right {
    section {
        .news {
            .news__item {
                .news__category {
                    margin-top: -8px;
                }

                @include flexbox();
                justify-content: space-between;
                padding-bottom: 20px;
                border-bottom: 1px solid $border;
                width: 100%;

                > a {
                    width: 120px;
                }

                > div {
                    margin-top: 0;
                    width: calc(100% - 120px - 20px);
                }

                h1, h2, h3 {
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    }
}
// at bottom of article page
.article__bottom {
    .news__item {
        @include phone {
            width: 100%;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        @include large-phone {
            width: calc(100% / 2 - 20px);
        }
        @include tablet-up {
            width: calc(100% / 4 - 20px);
        }
    }
}


// news sidebar
.gfHidden {
    display: none;
}

.gfShow {
    display: block;
}

