.article {
  padding: 20px 0;
  @include flexbox();
  flex-wrap: wrap;
  justify-content: space-between;

  .author {
    font-size: 14px;
    margin-bottom: 2px;

    a {
      font-weight: bold;
    }
  }

  time {
    overflow: auto;
    display: block;
  }

  .date, .time {
    font-size: 14px;
    float: left;
  }

  .time {
    @include flexbox();
    align-items: center;

    svg {
      color: $gray;
      font-size: 8px;
      margin: 0 5px;
      position: relative;
      top: 1px;

      &.fa-circle {
        font-size: 3px;
      }
    }
  }
}

.article__top {
  width: 100%;
  position: relative;
  @include flexbox();
  flex-wrap: wrap;
  padding-bottom: 24px;

  figure {
    @include tablet-up {
      position: unset;
      @include flexbox();
      @include tablet-up {
        width: 50%;
      }
    }
  }

  figcaption {
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 45px;
    font-size: 10px;
    @include phone-and-large-phone {
      bottom: 0;
      font-size:8px;
    }
    right: 0;
    text-align: right;
    padding: 5px 20px;
    color: white;
    @include ellipsis(24px, 1);
  }
}

.captionImageCaption {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  padding: 5px 20px;
  display:block;
  max-height:unset;
  width:100%;
  @include tablet-up {
    width: auto;
    right: 0;
    text-align: right;
    color: white;
    @include ellipsis(24px, 1);
  }
}

.article__top-content {
  @include phone-and-large-phone {
    padding: 20px;
  }
  @include tablet-up {
    width: 50%;
    background: $red-light;
    padding: 40px;
  }
  @include flexbox();
  flex-direction: column;
  justify-content: center;

  h1 {
    @include phone-and-tablet {
      font-size: 26px;
      line-height: 1.15em;
      margin: 10px 0 20px;
    }
    @include desktop-up {
      font-size: 52px;
      line-height: 1em;
      margin: 20px 0;
    }
    font-weight: bold;
  }

  h2 {
    //text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;

    a {
      color: $red;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.4em;
  }
}

.article__center {
  width: 100%;
  @include flexbox();
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.article__content {
  word-break: break-word;
  .banner.banner__top {
    width: fit-content;
  }
  > #InText_1,
    #InText_2,
    #Billboard_UnderArticle {
    display:flex;
    justify-content: center;
  }

  .jig-caption-title {
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }



  figure {
    @include phone {
      margin: 20px 0;
      //width: 85vw!important;
    }
    @include phone-up {
      margin: 20px 0;
    }
  }

  figcaption {
    font-size: 10px;
    @include phone-and-large-phone {
      bottom: 0;
      font-size:8px;
    }
    padding: 5px 0 0;
    text-align: center;
    color: white;
  }

  p {
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 16px;

    a {
      color: $red;
      text-decoration: underline;
    }
  }

  > p:first-child::first-letter {
    @include phone {
      font-size: 3rem;
      line-height: 1em;
      margin: 0 10px 0px 0;
    }
    @include phone-up {
      font-size: 7.5rem;
      line-height: 6rem;
      margin: 0 20px 20px 0;
    }
    font-weight: bold;
    letter-spacing: 0;
    color: #1a1a1a;
    float: left;
  }

  blockquote {
    p {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4em;
      letter-spacing: -2px;
    }
    @include phone {
      width: 100%;
      margin-top: 20px;
      p {
        font-size:18px;
      }
    }
    @include phone-up {
      max-width: 360px;
      margin: 60px 60px 50px 0;
    }
    @include desktop-up {
      margin-left: -180px;
    }
    float: left;
    clear: left;
    padding-top: 16px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: $red;
      width: 120px;
      height: 8px;
    }
  }
}


.article__related {
  @include phone {
    width: 100%;
    margin-bottom: 20px;
    float: none;
  }
  @include phone-up {
    max-width: 360px;
    margin: 24px 40px 20px 0;
    float: none;
  }
  @include desktop-up {
    margin-left: -180px;
    float: left;
  }
  float: left;
  clear: left;

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $red;
    border-bottom: 8px solid $red;
    display: inline-block;
    position: relative;
    bottom: -8px;
  }

  ul {
    padding: 20px;
    border: 8px solid $red-light;
  }

  li {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1em;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    @include flexbox();

    svg {
      color: $red;
      font-size: 14px;
      margin: 2px 5px 0 0;
    }

    a:hover {
      color: $red;
    }
  }
}

.article__aside-left {
  .social {
    width: 100%;
    margin: 20px 0;
    button {
      background-color: white;
      border: none;
      outline: none;
      font-size: 20px;
      padding-right: 10px;
    }
  }

}

.article__bottom {
  width: 100%;
}

.article__comments {
  background: $gray-light;

  .container {
    padding: 20px 0;

    p {
      font-size: 14px;
      font-weight: bold;
      padding: 0 20px 10px;
      text-align: center;
    }
  }
}

// tags
.article__tags a {
  font-size: 13px;
  line-height: 33px;
  border-radius: 16.5px;
  padding: 0 14px;
  background: $gray-light;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-transform: lowercase;
  @extend .animation;

  &:before {
    content: '#';
    color: $red;
    margin-right: 1px;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: $red;
    color: #ffffff;

    &:before {
      color: #ffffff;
    }
  }
}

// ASIDE
.news__tabs {
  @include phone-and-large-phone {
    margin-top: 20px;
  }
  margin-bottom: 20px;

  li {
    display: inline-block;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;

    a {
      color: #C5C5C5;
    }

    &.active {
      a {
        color: initial;
      }

      border-color: $red;
    }

    &:hover {
      a {
        color: initial;
      }

      border-color: $red;
    }
  }
}

.news__list {
  li {
    @include flexbox();
    justify-content: space-between;
    position: relative;
    padding-bottom: 40px;

    h3 {
      width: calc(100% - 35px - 15px);
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 17px;
      top: 45px;
      background: #ebebeb;
      height: calc(100% - 50px);
      width: 1px;
      display: block;
    }

    &:last-child:before {
      content: none;
    }
  }
}

.news__time {
  width: 35px;
  color: $red;
  text-align: center;

  span:first-child {
    font-size: 20px;
    font-weight: bold;
  }

  span:last-child {
    display: block;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    top: -5px;
  }
}

// embeds
.article__content {

  .wp-block-embed-tiktok {
     .wp-block-embed__wrapper {
      blockquote {
        @include phone-up {
          max-width:unset;
          margin: 15px auto;
        }
        @include desktop-up {
          margin: 15px auto;
        }
        float: none;
        clear: none;
        padding-top: 0;
        position: static;

        &:before {
          content: "";
          position: static;
          top: unset;
          left: unset;
          background: unset;
          width: unset;
          height: unset;
        }
      }
    }
  }
}
.article__content figure.wp-block-embed-youtube {
  margin: 16px 0;

  .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.article__content figure.wp-block-embed-twitter {
  max-width: 100%;
  @include small-phone {
    max-width: 320px;
  }

  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
  }
}

.article__content .twitter-tweet-rendered {
  @include phone {
    max-width: 320px;
  }
  @media screen and (max-width: 320px) {
    max-width: 280px;
  }

}
@media only screen and (min-width:376px) and (max-width:575px){
  .article__content figure.wp-block-embed-facebook {
    .wp-block-embed__wrapper {
      .fb_iframe_widget {
        > span {
          width: 100% !important;
        }
      }
    }
  }
}

.article__content figure.wp-block-embed-facebook {
  .wp-block-embed__wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .article__content figure.wp-block-embed-facebook {
    .wp-block-embed__wrapper {
      max-width: 320px;
      overflow: hidden;
    }
  }
}

.article__content figure.wp-block-embed-instagram .instagram-media {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 360px) {
  .article__content figure.wp-block-embed-instagram {
    width: auto !important;
    max-width: 320px !important;

    .wp-block-embed__wrapper {
      max-width: 320px;
      overflow: hidden;
    }
  }
}

.fb__page {
  width: 340px;
  display: block;
  margin: auto;
  @include phone {
    width:100%;
  }
}

.fb-page {
  blockquote {
    @include phone {
      margin-top: 15px;
    }
  }
}

.categoryPageNameLink {
  color: #ea1c24;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.ahtrefile {
  float: none;
  @include desktop-up {
    max-width: 800px;
  }
  @include large-phone-and-tablet {
    max-width: 600px;
  }
}

.ahtrefileParagraph {
  p {
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 8px solid #ea1c240d;
    border-right: 8px solid #ea1c240d;
    white-space: pre-wrap;
  }
}

.ahtrefileParagraph p:last-child {
  border-bottom: 8px solid #ea1c240d;
}

.ahtrefileParagraph p:first-child {
  border-top: 8px solid #ea1c240d;
}

.wp-block-embed-twitter {
  max-width: 100%;
}

.fb-post.fb_iframe_widget.fb_iframe_widget_fluid {
  max-width: 80vw !important;
  margin:0 auto;

  span {
    width: 100% !important;

    iframe {
      position: unset;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.keyFeatured {
  width:100%;
  text-align:right;
  padding-right:20px;
  @include tablet-up {
    padding-right:10px;
    display:flex;
    justify-content: flex-end;
    text-align:unset;
    min-height:20px;
  }
  span {
    width:100%;
    text-align:right;
    font-style:italic;
    @include tablet-up {
      width: 50%;
    }
  }
}

.keyFeatured:before {
  @include tablet-up {
    content: "";
    display: block;
    width: 50%;
    height: auto;
  }
}

.keySingle {
  width:100%;
  text-align:center;
  display:block;
  margin-bottom:20px;
  font-style: italic;
}

@media screen and (max-width: 320px) {
  .article__center {
    padding:0;
    .article__content {
      p,
      h1,h2,h3,h4,h5,h6 {
        max-width: 280px;
        margin: 0 auto;
      }
      .article__related {
        max-width:280px;
        margin:0 auto 20px auto;
      }
      .keySingle {
        max-width:280px;
        margin:0 auto 20px auto;
      }
    }
    .article__right {
      .gfLatestNews, .gfPopularNews {
        padding-left:10px;
      }
    }
    .article__left {
      .article__aside-left {
        padding-left:10px;
      }
    }
  }
}

.mobileAppShare {
  font-size:20px;
  padding-right:10px;
}
.mobileAppShareWhatsApp {
  font-size:22px;
  padding-right:10px;
}
.fa-share-alt {
}

.socialApp {
  align-items:center;
}

.pswp__caption {
  .pswp__caption__center {
    text-transform:uppercase;
  }
}


  main {
    > #Billboard {
      display:flex;
      justify-content: center;
    }
  }

  .sinleSmallImage {
    @include desktop-up {
      max-width:400px !important;
    }
  }
