.box {
    @include flexbox();
    justify-content: space-between;
    flex-wrap: wrap;
    @include desktop-up {
        margin-top: 10px;
    }
}
.box--center {
    @include desktop-up {
        align-items: center;
    }
}
.box__left {
    @include phone-and-tablet {
        width: 100%;
    }
    @include desktop-up {
        width: calc(100% - 336px - 30px);
        padding-right: 30px;
        border-right: 1px solid $border;
    }
}
.box__right {
    @include phone-and-tablet {
        width: 100%;
    }
    @include large-phone-and-tablet {
        flex-direction: column;
    }
    @include large-phone-and-tablet {
        @include flexbox();
        justify-content: space-between;
        align-items: center;
    }
    @include desktop-up {
        width: 336px;
    }
}
.box__right--center{
    @include large-phone-and-tablet {
        flex-direction: initial;
        justify-content: space-evenly;
    }
}
.box__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $red;
    border-bottom: 8px solid $red;
    display: inline-block;
    margin-bottom: 20px;
    a {
        color: $red;
    }
}
.euroblic {
    text-align: center;
    background: $gray-light;
    position: relative;
    @include phone {
        margin-bottom: 20px;
    }
    @include large-phone-and-tablet {
        @include flexbox();
        align-items: center;
        width: 300px;
        height: 250px;
    }
    @include desktop-up {
        margin-bottom: 20px;
    }
    img {
        width: 160px;
        margin: 0 auto;
    }
    span {
        color: $red;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        transform: rotate(-270deg);
        position: absolute;
        right: 0;
        top: 50%;
    }
    strong {
        display: block;
        font-size: 14px;
    }
}
// featured
.news--featured {
    .news__item {
        @include phone {
            width: calc(100%/3 - 10px);
            > a, > div {
                width: 100%;
            }
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
            flex-direction: column;
            justify-content: initial;
            .news__category {
                display: none;
            }
            h3 {
                margin-top: 25px;
            }
        }
        @include phone-and-large-phone {
            figure .icon {
                top: auto;
                bottom: 0;
                transform: translate(-50%, 50%);
            }
        }
        @include phone-up {
            margin-bottom: 0;
        }
    }
}
// featured animation
.fa-smile {
    animation: smile 5s infinite;
}
.fa-thumbs-up {
    animation: up 5s infinite;
}
.fa-thumbs-down {
    animation: down 5s infinite;
}
@keyframes smile {
    10% {
        transform: scale(1.5);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1);
    }
}
@keyframes up {
    10% {
        transform: rotate(-15deg) scale(1.5);
    }
    20% {
        transform: rotate(0deg) scale(1);
    }
    30% {
        transform: rotate(-15deg) scale(1.5);
    }
    40% {
        transform: rotate(0deg) scale(1);
    }
}
@keyframes down {
    10% {
        transform: rotate(15deg) scale(1.5);
    }
    20% {
        transform: rotate(0deg) scale(1);
    }
    30% {
        transform: rotate(15deg) scale(1.5);
    }
    40% {
        transform: rotate(0deg) scale(1);
    }
}
// section that cuts the page
.gray {
    background: $gray-light;
    @include phone-up {
        padding: 10px 0;
    }
}
// newsletter section
.newsletter {
    width: 100%;
    h4 {
        @include phone {
            font-size: 32px;
        }
        @include phone-up {
            font-size: 50px;
        }
        font-weight: bold;
    }
    p {
        @include phone {
            margin-bottom: 10px;
        }
        @include phone-up {
            margin: -5px 0 10px;
        }
    }
    form {
        border-bottom: 1px solid $border-dark;
        padding: 10px 0;
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    input {
        background: none;
        border: 0;
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        @include placeholder-color(initial);
    }
    button {
        background: none;
        border: 0;
        color: $red;
        font-size: 16px;
        cursor: pointer;
    }
}
.fb__page {
    @media only screen and (max-width: 320px) {
        width:300px !important;
        iframe {
            width:300px !important;
        }
        .fb-page {
            span {
                width:300px !important;
            }
        }
    }
    text-align: center;
    @include phone {
        margin: 20px auto 0;
    }
    @include large-phone-and-tablet {
        margin: 40px auto 0;

    }
}