// Defining breakpoints
$bp-extra-small: em(480);
$bp-small: em(768);
$bp-medium: em(1024);
$bp-large: em(1366);
$bp-extra-large: em(1920);


// Media query
@mixin small-phone {
    @include breakpoint(0 ($bp-extra-small - em(1))) { @content }; /* 0 - 479 */
}
@mixin small-phone-up {
    @include breakpoint($bp-extra-small) { @content }; /* 480+ */
}
@mixin phone {
    @include breakpoint(0 ($bp-small - em(1))) { @content }; /* 0 - 767 */
}
@mixin phone-up {
    @include breakpoint($bp-small) { @content }; /* 768+ */
}
@mixin phone-and-tablet {
    @include breakpoint(0 ($bp-large - em(1))) { @content }; /* 0 - 1365 */
}

@mixin large-phone {
    @include breakpoint($bp-small ($bp-medium - em(1))) { @content }; /* 768 - 1023 */
}
@mixin phone-and-large-phone {
    @include breakpoint(0 ($bp-medium - em(1))) { @content }; /* 0 - 1023 */
}

@mixin large-phone-and-tablet {
    @include breakpoint($bp-small ($bp-large - em(1))) { @content }; /* 768 - 1365 */
}
@mixin tablet {
    @include breakpoint($bp-medium ($bp-large - em(1))) { @content }; /* 1024 - 1365 */
}
@mixin tablet-up {
    @include breakpoint($bp-medium) { @content }; /* 1024+*/
}

@mixin desktop-up {
    @include breakpoint($bp-large) { @content }; /* 1366+*/
}
@mixin large-desktop-up {
    @include breakpoint($bp-extra-large) { @content }; /* 1920+*/
}


// Defining container widths
.container {
    @include clearfix;
    padding: 20px;
    @include desktop-up {
        @include container(1320px);
    }
}
// Article grid
.article__left {
    .banner.banner__top {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    @include flexbox();
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablet-up {
        width: calc(100% - 336px - 40px);
    }
    @include desktop-up {
        .article__aside-left {
            width: 336px;
        }
        .article__content {
            width: calc(100% - 336px - 40px);
        }
    }
}
.article__right {
    @include phone-and-large-phone {
        width: 100%;
    }
    @include tablet-up {
        width: 336px;
    }
}

@media only screen and (max-width: 320px) {
    body.archive.author,
    body.page-template-customCategory,
    body.archive.tag,
    body.page-template-allPosts,
    body.page-template-popularPosts-php,
    body.page-template-search {
        .container {
            padding:10px;
        }
    }
}